In [1]:
print('apple' in['pineapple', 'orange', 'banana'])

False

In [4]:
x = True
y = False
z = None
print(x and z is None)
print(not x or not y)
print(x and not y and z is None)

True
True
True

In [5]:
'apple' in ['pineapple', 'orange', 'banana']

False

In [6]:
print('apple' in 'pineapple')

True

In [7]:
True + False

1

In [19]:
a = [1,2,3,4,5]
b = [2,4]
print(2 in a,b)
a or b

True [2, 4]

[1, 2, 3, 4, 5]

In [20]:
a = None
b = None
print(a,b is None)

None True

In [26]:
a = 100 + 200
b = 200 + 300
c = [a + b]
print(800 in c) == 700

True

False

In [29]:
a = False
b = True
a or b

True

In [42]:
a = 230
b = 150
c = a + b == 380
c = [150, 230, 380]
print(a or b in c)

230